nav {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.nav-left,
.nav-right {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.nav-left a {
    margin-right: 15px;
    width: 100%;
}

.nav-right a {
    margin-left: 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    font-size: 1em;
    border-radius: 20px;
}

nav a.logo {
    padding: 0;
    display: flex;
    align-items: center;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.1);
}

.nav-logo {
    max-width: 100px;
    max-height: 40px;
    width: 100%; 
    height: auto;
}